#!/bin/bash
set -euxo pipefail

dnf update -y
dnf install -y docker
systemctl enable --now docker

docker volume create telemetry-data
docker pull ${docker_image}
docker rm -f telemetry-stream-api || true

docker run -d \
  --name telemetry-stream-api \
  --restart unless-stopped \
  -p 8000:8000 \
  -e DATABASE_URL=sqlite:////app/data/telemetry.db \
  -v telemetry-data:/app/data \
  ${docker_image}
